# Classes aka Objects

Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods (defined by its class) for modifying its state.

* All classes have a function called `__init__()`, which is always executed when the class is being initiated.

* Objects can also contain methods. Methods in objects are functions that belong to the object.

* The `self` parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

In [24]:
class Dog:
    # You must have the __init__ function
    def __init__(self, name, age):
        # class variables
        self.name = name
        self.age = age
    
    def speak(self):
        print(f"{self.name}, says woof")
        #print('%s says woof' % self.name)
        #print(str(self.name), 'says woof.')
        
    def say_age(self):
        print(str(self.age))


# create a Dog object
my_dog = Dog(name='Weezy', age=9)
my_dog.speak()
my_dog.say_age()

another_dog = Dog(name='Bubbles', age=1)

# # call the objects description method
# my_dog.description()

# # call the objects speak method
# my_dog.speak(sound='woof')

Weezy, says woof
9

In [19]:
x = str(my_dog) 
x, type(x)

('<__main__.Dog object at 0x7fd90a8456d0>', str)

# How would we make a new Human class that has their name, age, and home address?

In [28]:
class Human:
    def __init__(self, name, age, home_address):
        self.name = name
        self.age = age
        self.home_address = home_address
man = Human('Bob', 50, '1201 Springs Fireplace Road')
man.name

'Bob'

# How would you give it a function to grow older by 5 years?

In [41]:
class Human:
    def __init__(self, name='Dwayne', age=38, home_address='124 Road'):
        self.name = name
        self.age = age
        self.home_address = home_address
    
    def grow(self, years=5):
        self.age = self.age + years
        #self.age += 5

        
#man = Human('Bob', 50, '1201 Springs Fireplace Road')
dude = Human()
dude.age
# print(man.age)
# man.grow()
# print(man.age)

38

In [47]:
def say_something(other_thing, input_string='hello'):
    print(input_string, other_thing)
    
#say_something()  
#say_something('tee shirt')

# Reading in files.

In [66]:
# Define the path to the file you want to read.
# path_to_file = 'data/lil-wayne.txt'
path_to_file = 'data/lil-wayne.txt'

file_handle = open(file=path_to_file)

data = file_handle.read()

file_handle.close()

print(data)

Dwayne Michael Carter Jr. (born September 27, 1982),[2] known professionally as Lil Wayne, is an American rapper, singer, songwriter and record executive.. He is commonly regarded as one of the most influential hip hop artists of his generation,[3] and often cited as one of the greatest rappers of all time.[4][5] His career began in 1995, at the age of 12, when he was signed by rapper Birdman, joining Cash Money Records as the youngest member of the label.[6] From then on, Wayne was the flagship artist of Cash Money Records before ending his association with the company in June 2018.[7]

In 1995, Wayne was put in a duo with label-mate B.G. (at the time known as Lil Doogie) and they recorded an album, True Story, released that year, although Wayne (at the time known as Baby D) only appeared on three tracks.[8] Wayne and B.G. soon joined the southern hip hop group Hot Boys, with Cash Money label-mates Juvenile and Turk in 1997; they released their debut album Get It How U Live! in October that year. The Hot Boys became popular following the release of the album Guerrilla Warfare (1999) and the song Bling Bling.

Lil Waynes solo debut album Tha Block Is Hot (1999) was his solo breakthrough, and he reached higher popularity with his fourth album Tha Carter (2004) and fifth album Tha Carter II (2005), as well as several mixtapes and collaborations throughout 2006 and 2007. He gained more prominence within the music industry with his sixth album Tha Carter III (2008), with first-week sales of over one million copies in the US. The album won the Grammy Award for Best Rap Album and included successful singles A Milli, Got Money (featuring T-Pain), and Lollipop (featuring Static Major)â€”the latter being his first single to reach number one on the Billboard Hot 100. In February 2010, Wayne released his seventh studio album, Rebirth, which experimented with rap rock and was met with generally negative reviews. A month later in March 2010, Lil Wayne began serving an 8-month jail sentence in New York after being convicted of criminal possession of a weapon stemming from an incident in July 2007. His eighth studio album I Am Not a Human Being (2010) was released during his incarceration, while his 2011 album Tha Carter IV was released following his release. Tha Carter IV sold 964,000 copies in its first week in the United States.[9] His twelfth studio album Tha Carter V was released in 2018 after multiple delays. Waynes thirteenth album, Funeral, was released in early 2020.[10]

Lil Wayne has sold over 120 million records worldwide, including more than 20 million albums and 70 million digital tracks in the United States, making him one of the worlds best-selling music artists.[11][12][13] He has won five Grammy Awards, 11 BET Awards, four Billboard Music Awards, two MTV Video Music Awards and eight NAACP Image Awards. On September 27, 2012, he became the first male artist to surpass Elvis Presley with the most entries on the Billboard Hot 100, with 109 songs.[14][15] Lil Wayne also currently serves as the chief executive officer (CEO) of his own label, Young Money Entertainment.

In [76]:
# Define the path to the file you want to read.
# path_to_file = 'data/lil-wayne.txt'
path_to_file = 'data/lil-wayne.txt'

file_handle = open(file=path_to_file)

data = file_handle.readlines()

file_handle.close()

type(data)

list

In [87]:
# Define the path to the file you want to read.
# path_to_file = 'data/lil-wayne.txt'
path_to_file = 'data/lil-wayne.bbb'

file_handle = open(file=path_to_file)

data = file_handle.readlines()

file_handle.close()

data

['Dwayne Michael Carter Jr. (born September 27, 1982),[2] known professionally as Lil Wayne, is an American rapper, singer, songwriter and record executive.. He is commonly regarded as one of the most influential hip hop artists of his generation,[3] and often cited as one of the greatest rappers of all time.[4][5] His career began in 1995, at the age of 12, when he was signed by rapper Birdman, joining Cash Money Records as the youngest member of the label.[6] From then on, Wayne was the flagship artist of Cash Money Records before ending his association with the company in June 2018.[7]\n',
 '\n',
 'In 1995, Wayne was put in a duo with label-mate B.G. (at the time known as Lil Doogie) and they recorded an album, True Story, released that year, although Wayne (at the time known as Baby D) only appeared on three tracks.[8] Wayne and B.G. soon joined the southern hip hop group Hot Boys, with Cash Money label-mates Juvenile and Turk in 1997; they released their debut album Get It How U Live! in October that year. The Hot Boys became popular following the release of the album Guerrilla Warfare (1999) and the song Bling Bling.\n',
 '\n',
 'Lil Waynes solo debut album Tha Block Is Hot (1999) was his solo breakthrough, and he reached higher popularity with his fourth album Tha Carter (2004) and fifth album Tha Carter II (2005), as well as several mixtapes and collaborations throughout 2006 and 2007. He gained more prominence within the music industry with his sixth album Tha Carter III (2008), with first-week sales of over one million copies in the US. The album won the Grammy Award for Best Rap Album and included successful singles A Milli, Got Money (featuring T-Pain), and Lollipop (featuring Static Major)â€”the latter being his first single to reach number one on the Billboard Hot 100. In February 2010, Wayne released his seventh studio album, Rebirth, which experimented with rap rock and was met with generally negative reviews. A month later in March 2010, Lil Wayne began serving an 8-month jail sentence in New York after being convicted of criminal possession of a weapon stemming from an incident in July 2007. His eighth studio album I Am Not a Human Being (2010) was released during his incarceration, while his 2011 album Tha Carter IV was released following his release. Tha Carter IV sold 964,000 copies in its first week in the United States.[9] His twelfth studio album Tha Carter V was released in 2018 after multiple delays. Waynes thirteenth album, Funeral, was released in early 2020.[10]\n',
 '\n',
 'Lil Wayne has sold over 120 million records worldwide, including more than 20 million albums and 70 million digital tracks in the United States, making him one of the worlds best-selling music artists.[11][12][13] He has won five Grammy Awards, 11 BET Awards, four Billboard Music Awards, two MTV Video Music Awards and eight NAACP Image Awards. On September 27, 2012, he became the first male artist to surpass Elvis Presley with the most entries on the Billboard Hot 100, with 109 songs.[14][15] Lil Wayne also currently serves as the chief executive officer (CEO) of his own label, Young Money Entertainment.']

In [67]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [54]:
import os
filename = os.path.join(os.getcwd(), "data")
open(filename+'/lil-wayne.txt)

'/Users/zacharydesario/summer-2022/python-summer-prep-2022/week-03/data/lil-wayne.txt'

# Writing files

In [89]:
# Create a new file name
my_new_file = 'data/my_new_file.txt'

file_object = open(my_new_file, mode='w')

# Create some text to give the file.
my_text = 'There are two trillion GALAXIES in the universe.  Each galaxy has approx 100 billion stars.'

file_object.write(my_text)

# Close the file. 
file_object.close()

# Reading Errors in Python

This traceback output has all of the information youâ€™ll need to diagnose the issue. 

The final line of the traceback output tells you what type of exception was raised along with some relevant information about that exception. 

The previous lines of the traceback point out the code that resulted in the exception being raised.

In [92]:
def greet(someone):
    print('Hello, ' + someone)

greet('Beyonce')

Hello, Beyonce

In [93]:
incorrect_file_path = 'data/not-a-real-file.txt'
fh = open(incorrect_file_path, 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'data/not-a-real-file.txt'

# Googling Errors

In the above error. You would want to google just the first part, `FileNotFoundError: [Errno 2] No such file or directory:'.`  You would want to exclude the `'data/not-a-real-file.txt'`part.  

Why do you think that is?

# Libraries aka Packages
* [Internal Packages aka Libraries that come with Python](https://docs.python.org/3/library/)
* [Libraries that come with Anaconda](https://docs.anaconda.com/anaconda/packages/py3.8_osx-64/)
* There are many other external libraries that you need to install via pip. 


It is python convention (aka best practice) to import your libraries at the beginning of your python file (so at the very top).

In [95]:
import math
import string

string.digits

'0123456789'

In [96]:
print(math.factorial(10))
print(math.sqrt(100))

3628800
10.0

# Reading documentation

* pandas read_csv documentation https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [97]:
import pandas as pd

In [104]:
df = pd.read_csv(filepath_or_buffer='data/titanic.csv', skiprows=[2,4])


# print(type(df))

df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
2,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
3,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
4,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [11]:
df = pd.read_csv(filepath_or_buffer='data/titanic.csv', sep=',')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# How to search around for answers.

![Figuring out stuff on your own](https://memegenerator.net/img/instances/85197145.jpg)

# What if we wanted to change the column named `embarked` to the name `location`?